/* @import '~antd/dist/antd.css'; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
body {
  line-height: normal !important;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Lobster', cursive;
}

nav button {
  color: #777;
  background-color: #ffbe44;
  border: none;
  font-weight: bold;
}

nav  a {
  color: #777;
}

.menu {
  padding: 0 20px;
  overflow: auto;
  /* box-shadow: 0 0 10px #f3f1f1; */
  background-color: #ffbe44;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 60px

}








.menu__logo {
  max-width:200px;
 
}

.menu__logo a {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu__logo a > div {
  width: 25%;
}

.menu__logo img {
  width: 100%;
}

.menu__logo h1 {
  font-size: 2rem;
  color: #fff;

  margin-bottom: 0 !important;
  font-weight: bold;
  position: absolute;
  text-shadow:
  1px -1px 0 #777,
  1px -1px 0 #777
  
}

.menu_left {
  min-width: 40%;
  display: flex;
}

.menu_left .search-wrap {
 /*  border: 1px solid black; */
width: 500px;
}

.menu_left .search-bar {
  padding: 0.5rem;
}

.menu_left .search-input {
  width: 90%;
  border: none;
  height: 2rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 8px;
  margin-right: 10px;
}


.menu_right {
  width: 15%;
  padding: 5px 10px;
}

.menu_right .navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 10px blue;

}

.menu_right ul {
  margin-bottom: 0 !important;
}

.menu_right ul li a:hover {
  color: red;
  
 
}




.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 20 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
    margin-left: auto;
  }

  
  .menu_right {
    display: none;
  }



  .menu__logo a {
    margin-left: -20px;
    width: 100%;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }

.navMenu {
  display:block;
}

#category {
  display: none;
}
}