/* @import '~antd/dist/antd.css'; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

/* font-family: 'Lobster', cursive; */
body {
  line-height: normal !important;
}

nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Lobster', cursive;
}

nav button {
  color: #777;
  background-color: #ffbe44;
  border: none;
  font-weight: bold;
}



.menu {
  padding: 0 20px;
  overflow: auto;
  /* box-shadow: 0 0 10px #f3f1f1; */
  background-color: #ffbe44;
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 60px

}


.menu__logo {
  max-width:200px;
}

.menu__logo a {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu__logo a > div {
  width: 25%;
}

.menu__logo img {
  width: 100%;
}

.menu__logo h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0 !important;
  font-weight: bold;
  position: absolute;
  text-shadow:
  1px 1px 0 #777,
  1px 1px 0 #777
  
}

.menu_search {
  min-width: 40%;
  display: flex;
}

.menu_search .search-wrap {
 /*  border: 1px solid black; */
width: 500px;
}

.menu_search .search-bar {
  padding: 0.5rem;
}

.menu_search .search-input {
  width: 90%;

}
.search-input {
  border: none;
  height: 2rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 12px;
  margin-right: 10px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
}


.menu_right {
  width: 15%;
  padding: 5px 10px;
}

.menu_right .navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.menu_right ul {
  margin-bottom: 0 !important;
}

.menu_right ul li a:hover, #category:hover {
  color: #b94040 !important;
}

.menu-btn-mobile {
  float: right;
  display: none !important;
}

#categoryBtn {
  margin-top: 1rem;
  border-bottom: 1px solid #555;
}

#mobile-category li {
  width: 100% !important;
}

.ant-drawer-header {
  position: relative;
  padding: 16px 24px;
  font-family: 'Lobster', cursive; 
  background: #ffbe44 !important;
  border-bottom: 1px solid #777 !important;
  border-radius: 2px 2px 0 0;
}

.ant-drawer-title {
  color: #555 !important;
  font-weight: 800 !important;
  font-size: 2rem !important;
  line-height: 22px;
}

.ant-drawer-body {
  background: #ffbe44 !important;
  font-weight: 500;
}

.ant-drawer-body .navMenu{
  display: flex;
}
.ant-drawer-body .navMenu li{
  margin-right: 1rem;  
}
.ant-drawer-body .navMenu a{
  color: #555 !important;
  font-weight: bold;
  
}

.ant-drawer-body a:hover {
 border-bottom: 1px solid #555;
 color: #555 !important;
}


/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

.ant-drawer-body button {
    color: #555;
    background-color: #ffbe44;
    border: none;
    font-weight: bold;
}

@media (max-width: 767px) {
  .menu-btn-mobile {
    display: inline-block !important;
    margin-left: auto;
  }


  
  .menu_right {
    display: none;
  }



  .menu__logo a {
    margin-left: -20px;
    width: 100%;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }

.navMenu {
  display:block;
}

.menu_search {
  display: none;
}

.search-wrap {
 width: 100%;
 margin-top: 1rem;
 }
 
.search-bar {
   padding: 0;
 }
 
.search-input {
   width: 80%;
 }

 .search-wrap button {
   font-size: 1.25rem;
 }
 
 .ant-drawer-body {
  font-size: 1.5rem !important;
}
}